@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

body {
  background-color: #101822;
  position: relative;
}

body::before {
content: "";
position: fixed;
top: 0;
width: 100%;
height: 100%;
background-image: url(assets/background-image.png);
background-size: cover;
background-repeat: no-repeat;
opacity: 0.5;
z-index: -1; 
}

.header {
  margin: 4rem 54.5rem 0rem 22rem;
  width: 43.5rem;
  padding: 0rem 2.5rem;
  gap: 0.625rem;
  background: #111;
}

.alignHeader {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.figures {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  cursor: pointer;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: start;
  gap: 3rem;
  cursor: pointer;
}

.header li {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}

.texts {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 22rem;
  padding-top: 8rem;
  gap: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.25rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

main p {
  width: 32.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.575rem;
}

main strong {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.9375rem;
  padding: 1rem 3.5rem;
  gap: 0.5rem;
  border: 2px solid #fff;
  background: #c03641;
  transition: 0.5s;

  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background: #FF4655;
  transition: 0.5s;
}

.image-right {
  display: flex;
  align-self: end;
  position: fixed;

  width: 54.5rem;
  height: 67.5rem;
  flex-shrink: 0;
  margin-left: auto;
}

footer {
  width: 39.625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.575rem;
  color: #fff;

  margin-left: 22rem;
  padding-top: 10rem;
}

a {
  text-decoration: none;
}

